.listElem  {
    list-style-type:circle! important;
    margin-left:25px;
}

h1 {
    font-size:3rem !important;
}

h2 {
    font-size: 2rem !important;
    margin-top:90px !important;
}

h3 {
    font-size: 1.5rem !important;
}


.spoiler {
    display: none;
}

.trigger.close {
    display: none;
}

.trigger.open:target {
    display: none;
}

.trigger.open:target + .trigger.close {
    display: inline;
}

.trigger.open:target + .trigger.close + .spoiler {    
    display: block;
}